* {
    margin: 0;
}
h1,h2,h3,h4,h5, h6{
    font-family: 'Crete Round';
    font-style: italic;
}
/* div, section, article, main, footer, header, nav , table {
    border:5px solid black;
} */
p {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}
a {
    text-decoration: none;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100vw;
    scroll-behavior: smooth;
}
/* реализация верхнего меню */
header {
    color:  white;
    background-color: #BE5845;
    border-bottom: 2px solid Gainsboro;;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 33px;
    padding: 25px 7em;
    width: auto;
    position: fixed;
    top:0;
    right:0;
    left:0;
}
ul {
    display: flex;
    flex-direction: row-reverse;
    padding-inline-start: 10px;
 }
li {
    list-style-type: none;
    padding-right: 3em;
    font-size: 24px;
    font-family: 'Crete Round';
    text-align: center;
}
/* img.hamburger {
    position: fixed;
    top: 30px;
    right: 7em;
  }  */
/*  закончилась реализация верхнего меню */
h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
}
h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;  
}
h3 {
    font-weight: 400;
    font-size: 32px;
}
h4 {
    font-weight: 400;
    font-size: 24px;
}
h5 {
    font-weight: 400;
    font-size: 16px;
}
.white-text {
    color: Gainsboro;
}
.red-text {
    color: #BE5845;
}
.pink-text {
    color: #FB8D76;
}
.inika-15 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;  
}
.inika-19 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
}
.inika-22 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
}
.title-of-article {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 130px 0px 21px 0px;
    width: fit-content;
    height: 15px;

}
.title-of-article h6 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-style: normal;
}

.wave {
    height: 10px;
    width: 72px;
    padding-right: 15px;
}
.mountains {
    width: fit-content;
    margin-right: 0;
    width: 48%; 
    height: 100%;
    align-self: flex-start;
}
.start {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    background: #8C8057;
    height: 46em;
    justify-content:space-between;
    max-width: 100vw;
    padding-top: 83px;
}
.hi {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    height: 95%;
    width: 39%;
    padding-top: 2em;
    padding-right: 7em;

}
.autor {
    color: Gainsboro;
    font-weight: 400;
    font-size: 32px;
}
.altshu {
    width: 350px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-bottom: 50px;
}
.white-button {
    width: 274px;
    height: 69px;
    background: WhiteSmoke;
    border-color: #BE5845;
    border-radius: 32px;
    color: #BE5845;
    font-family: 'Crete Round';
    font-size: 20px;
}

.white-button:hover  {
    background-color: white;
    border-width: 3px;
    cursor: pointer;
    box-shadow:3px 5px 3px rgba(190, 88, 69, 0.85);
}
.experience {
    margin-top: 0px;
    padding: 0 7em 3em 7em;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.anchor {
    width: 100%;
}
.experience_first_part {
    width: 25%;
}

.review {
    margin-top: 7em;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img[alt="five stars"] {
    width: 150px;
    margin-bottom: 1em;
}
img[alt*="Smirnova"] {
    width: 300px;
}
.experience_second_part {
    width: 60%;
    padding-top: 115px;
    padding-left: 10%;
    height: 100%;
}
.months {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    color: #BE5845;
}
table {
    margin-top: 4em;
    width: 100%;
    text-align: left;
}
.experience_second_part div:last-of-type {
    padding-top: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.results {
    margin-top: 0px;
    padding: 0 7em 3em 7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .results .title-of-article {
    width: 100%;
    padding-bottom: 2em;
} 

.result-sections h1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 50%;
} 

.result-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.result-sections section {
    padding-top: 5em;
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    flex-direction: column;
    align-items: flex-start;
    /* width: 574px; */
    height: fit-content;
}
img[alt="Image"] {
    padding-bottom: 2em;
}
.result-sections section>h4 {
    padding-bottom: 1em;
}
.square-button {
    height: 160px;
    width: 160px;;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #FB8D76;
    border-color: #BE5845;
    color: #FFFFFF;
    font-family: 'Crete Round';
    font-size: 20px;
    border-radius: 32px;
    align-self: center;
}
.square-button:hover  {
    background-color:#BE5845;
    border-width: 3px;
    cursor: pointer;
    box-shadow:3px 5px 3px rgba(140, 128, 87, 0.85);
}
.services-block .anchor {
    width: 0;
    height: 0; 
}
.services-block {
    background: #8C8057;
    margin-top: 4em;
    padding: 10em 7em 10em 7em;
    height: 710px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.services-middle-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 290px;
    height: 320px;
    align-self: stretch;
    padding-bottom: 2em;
    padding-right: 2em;
}
img[src*="symbol"] {
    width: 56px;
    height: 56px;
    padding-bottom: 2em;
    padding-top: 3em;
}
img[src*="two_waves"]{
    height: 44px;
    width: 168px;
}
section .title-of-article {
    padding-top: 0px;
}
section>p {
    padding-top: 1.5em;
}
.services-first-section {
    width: 290px;
    height: 220px;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    padding-bottom: 6em;
}
.services-last-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 290px;
    height: 220px;
    padding-top: 100px;
    align-self: flex-end;
    padding-bottom: 2em;
    padding-right: 0;
    margin-right: 0;
}
.right-align-sections {
    align-self: flex-end;
}
.left-align-sections {
    align-self: flex-start;
}
/* блог-начало */
.blog {
    padding: 0 7em 0 7em;
}
.view-post {
    width: 120px;
    height: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #BE5845; 
    border-bottom: 2px solid #BE5845;
    justify-content: center;
}
.view-post:hover {
    border-bottom: 3px solid #BE5845;
}
.view-post:hover > p {
    font-weight: 900;
}
.pink-button {
    width: 274px;
    height: 69px;
    background: #FB8D76;
    border: 1px solid #BE5845;
    border-radius: 32px;
    color: #FFFFFF;
    font-family: 'Crete Round';
    font-size: 20px;
    margin-left: 20px;
}
.pink-button:hover  {
    background-color:#BE5845;
    border-width: 3px;
    cursor: pointer;
    box-shadow:3px 5px 3px rgba(0, 0, 0, 0.85);
    /* box-shadow:3px 5px 3px rgba(140, 128, 87, 0.85); */
}
hr {
    color: 3px solid rgb(140, 128, 87);
    width: auto;
    margin: 3em 0 3em 0;
}
.long-title_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 3em;
    align-items: center;
}
.long-title_button>h1 {
    width: 50%;
}

.picture-text {
    display: flex;
    justify-content: flex-start;
}
.picture-text>img {
    padding-right: 80px;
}
.part-of-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.blog-description>h4 {
    padding-top: 1em;
    padding-bottom: 1em;
}
.book-background {
    height: 200px;
    width: 50%;
    background-image: url("../Images/books.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding:110px 80px 120px 80px;
}
.red-about {
    height: 210px;
    width: 50%;
    background-image: url("../Images/");
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding:100px 80px 120px 80px;
}
.fast-switch {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    background-color: #BE5845;
}
.black {
  color: black;
}
.way:hover {
    text-decoration: underline;
    text-shadow:3px 3px 3px rgba(140, 128, 87, 0.85);
}
footer {
    background: #8C8057;
    padding: 0em 7em 2em 7em;
    width: auto;
}
.copyright > p {
    padding-top: 60px;
    padding-bottom: 42px;
    margin-block-end:0;
    
}
input {
    background-color: #8C8057;
    width: 290px;
    height: 69px;
    border: 1px solid rgba(255, 255, 255, 0.85);
    border-radius: 240px;
    color:#FFFFFF;
    text-align: center;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding: 0;
    box-sizing: border-box;
}
input:focus {
    border: 1px solid rgba(255, 255, 255, 0.85);
    outline: none;
    background-color:#b4a881;;

}
input::placeholder {
    color: #b4a881;
}
form {
    display: flex;
    flex-direction:row;
    padding-top: 15px;
}
.run-string {
    padding-top: 25px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}
.long-string {
    width:1000%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.long-string > h1 {
    height: 1em;
    white-space: nowrap;
}
.long-string > span {
    min-width: 490px;
    height: 1em;
    font-size: 60px;
    font-style: italic;
        display: flex;
    flex-direction:row;
    justify-content: center;
    white-space: nowrap;
}
.subscribe {
    width:fit-content;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.hrefs {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:flex-start;
}
.hrefs > div {
    height: 215px;
    padding-left: 25px;
    padding-right: 25px;
    display: grid;
    gap: 0px;
    grid-template-rows: 52px 52px 52px 52px;
    justify-items: start;
}
.foot-href > a{
    color: Gainsboro; 
}
.foot-href:hover {
    text-decoration: underline;
    text-shadow:3px 3px 3px rgba(251, 141, 118, 0.85);
    color: Gainsboro; 
}
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.number {
    display: none;
    position: absolute;
    left: auto;
    bottom: auto;
    z-index: 1;
    width: 232px;
    height: 29px;
    font-family: 'Crete Round';
    font-style: italic;
    font-size: 25px;
    text-align: center;
    padding: 20px 10px;
    border: 1px solid #BE5845;
    box-shadow: 3px 3px 3px rgb(251 141 118 / 85%);
    border-radius: 32px;
    background-color: white;
    color: #8C8057;
}


@media screen and (max-width: 600px) {
    /* реализация верхнего меню */
    header > ul > li {
        display: none;
    }
    ul {
        overflow: hidden;
    }
    ul:hover li{
        display: block;
        text-align: center;
        padding-right: 1em;
        padding-top: 1em;
        margin-bottom: 3px;
        background-color: rgb(190, 88, 69);
        width: 8em;
        height: 2em;
    }
    ul:hover {
        overflow: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 17px;
        right:0; 
    }
    ul:hover  li:nth-of-type(1) {
        margin-top: 69px;
    }
    ul:hover  li:nth-of-type(4) {
        border-radius: 0 0 0 15px;
    }
    li:hover {
        background-color:  #FB8D76 !important;
        /* text-shadow:3px 5px 3px rgba(190, 88, 69, 0.85); */
    }
    /*  закончилась реализация верхнего меню */
    .mountains {
        display: none;
    }
    .hi {
        width: 100%;
    }
    .review {
        display: none;
    }
    .experience_second_part {
        width: 100%;
        padding-left: 0%;
        padding-top: 25px;
    }
}

@media screen and (min-width: 601px) and (max-width: 980px) {
 /* реализация верхнего меню */
/*  h1,h2,h3,h4,h5,h6,p,a {
    font-size: 0.8em;
} */
header > ul > li {
    display: none;
}
ul:hover li{
    display: block;
    text-align: center;
    padding-right: 1em;
    padding-top: 1em;
    margin-bottom: 3px;
    background-color: rgb(190, 88, 69);
    width: 8em;
    height: 2em;
}
ul:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 17px;
    right:0; 
}
ul:hover  li:nth-of-type(1) {
    margin-top: 69px;
}
ul:hover  li:nth-of-type(4) {
    border-radius: 0 0 0 15px;
}
li:hover {
    background-color:  rgb(251, 141, 118) !important;
    /* text-shadow:3px 5px 3px rgba(190, 88, 69, 0.85); */
}
/*  закончилась реализация верхнего меню */
.mountains {
    display: none;
}
.hi {
    width: 100%;
}
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  

}

@media screen and (min-width: 1600px) {
    footer, .start, .experience, .results, .services-block, .blog, .fast-switch {
        position: relative;
        width: 1440px;
  padding-left: calc((100% - 1440px)/2);
   padding-right: calc((100% - 1440px)/2);
  
    }
    header {
        z-index: 1;
        position: fixed;
        width: 1440px;
        padding-left: calc((100% - 1440px)/2);
        padding-right: calc((100% - 1440px)/2);
    }
    li:hover {
        text-decoration: underline;
        text-shadow:3px 3px 3px rgba(251, 141, 118, 0.85);
    }
    
}

